<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjectManagementDB"
		connectionString="Data Source=DESKTOP-EM19H7N\SQLEXPRESS;Integrated Security=True;Connect Timeout=3;Encrypt=false;Database=ProjectManagementDB"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>