<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="ProjectManagementDB" 
      connectionString="Data Source=.;Initial Catalog=ProjectManagementDB;Integrated Security=True;Pooling=True;Min Pool Size=5;Max Pool Size=100;" 
      providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>